<header class="header {{ logged_in ? 'header--logged-in' : 'header--no-login'}}">

    <div class="header__inner grid">

        <div class="grid__item 1/2">

            <a href="/" class="logo logo--header">
                <img src="{{ assets }}/images/logo.png" alt="ADNA" />
            </a>

        </div>

        <div class="grid__item align--right 1/2">

            <nav class="nav nav--main">

                <a href="#" class="nav__item">Campaigns</a>
                <a href="#" class="nav__item">Users</a>
                {% if logged_in %}
                    <a href="#" class="nav__item">Log Out</a>
                {% endif %}
                <a href="#" class="btn btn--secondary">Add New User</a>
                <a href="#" class="btn btn--primary">Add New Campaign</a>

            </nav>

        </div>

    </div>

</header>
