<section class="campaign__download">
    <a href="{{ post.get_field('campaign_data').url }}" name="campaign-download" class="btn btn--tertiary btn--icon">
        Download Report
        <i class="btn__icon fas fa-long-arrow-alt-down"></i>
    </a>
</section>
