{#  Campaign Overview #}
<div class="campaign__overview">

    {# Campaign Info #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">campaign</h3>
        <h1 class="campaign__header">{{ post.title }}</h1>
        <time class="campaign__time">15 November 2018 - 15 December 2018</time>
    </div>

    {# Campaign Demographics #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">Demographics</h3>
        <div class="campaign__demographics">

            {% for demographic in post.get_field('demographics') %}
                <div class="campaign__demographic">
                    <small>{{ demographic.custom_label ? demographic.custom_label : demographic.type.value }}</small>
                    <span>{{ demographic.value_country ? demographic.value_country : demographic.value }}</span>
                </div>
            {% endfor %}

        </div>
    </div>

    {# Campaign Questions #}
    <div class="campaign__section" data-questions="container">

        <h3 class="campaign__subheader">Questions</h3>

        <div class="campaign__section campaign-questions__nav">

            <div class="form-field campaign-questions__dropdown">

                <select class="form-field__select">
                    {% for question in questions %}
                    <option value="question-one">{{ question.title }}</option>
                    {% endfor %}
                </select>

            </div>

            <div class="campaign-questions__arrows">
                <div class="campaign-questions__arrow campaign-questions__arrow--disabled">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </div>
                <div class="campaign-questions__arrow">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
            </div>

        </div>

        <div class="campaign__section campaign-questions__container">

            <h3 class="campaign__subheader">Responses</h3>

            {% for question in questions %}

                {% include './components/campaign/question.twig' %}

            {% endfor %}

        </div>

    </div>

</div>
