{#  Campaign Overview #}
<div class="campaign__overview">

    {# Campaign Info #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">campaign</h3>
        <h1 class="campaign__header">{{ post.title }}</h1>
        <time class="campaign__time">15 November 2018 - 15 December 2018</time>
    </div>

    {# Campaign Demographics #}
    <div class="campaign__section">
        <h3 class="campaign__subheader">Demographics</h3>
        <div class="campaign__demographics">

            {% for demographic in post.get_field('demographics') %}
                <div class="campaign__demographic">
                    <small>{{ demographic.custom_label ? demographic.custom_label : demographic.type.value }}</small>
                    <span>{{ demographic.value_country ? demographic.value_country : demographic.value }}</span>
                </div>
            {% endfor %}

        </div>
    </div>

    {# Campaign Questions #}
    {% include './components/campaign/questions.twig' %}

</div>
