<div class="campaign-question" data-campaign="question" data-index="{{ loop.index0 }}">

    <div class="grid campaign__section">

        <div class="grid__item 2/3">
            chart
        </div>

        <div class="grid__item 1/3">
            Side charts
        </div>

    </div>


    {% if question.insights %}
        <div class="campaign-question__insights">

            <h3 class="campaign-subheader">ADNA Insights</h3>

            <div class="campaign-question__insight">
                {{ question.insights }}
            </div>

        </div>
    {% endif %}

</div>
