{% set subcharts = (question.most_selected or question.least_selected) %}

<div class="campaign-question glide__slide" data-question="item" data-index="{{ loop.index0 }}">

    {# Question Responses #}
    <div class="grid campaign__section">

        <div class="grid__item 3/5 1/1--palm-portrait">
            <div class="campaign-question__chart">

                <canvas
                    class="campaign-chart"
                    data-question="chart"
                    data-chart-type="{{ question.chart_type }}"
                    data-answers='{{ question.answers|json_encode|raw }}'
                    width="100"
                    height="100"
                ></canvas>

            </div>
        </div>

        {% if subcharts %}
            <div class="grid__item 2/5 1/1--palm-portrait">

                <div class="campaign-question__subcharts">

                </div>

            </div>
        {% endif %}

    </div>

    {# Question Insights #}
    {% if question.insights %}

        <div class="campaign-question__insights">

            <h3 class="campaign-subheader">ADNA Insights</h3>

            <div class="campaign-question__insight">
                {{ question.insights }}
            </div>

        </div>

    {% endif %}

</div>
