{#
    Component Sidebar
#}

<aside class="campaign__sidebar">

    <div class="campaign-group">
        <div class="campaign-group__title">
            <span>Parents</span>
        </div>
        <div class="campaign-group__options">
            <a href="#" class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</a>
            <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</a>
            <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</a>
        </div>
    </div>

    <div class="campaign-group">
        <div class="campaign-group__title">
            <span>Students</span>
        </div>
        <div class="campaign-group__options">
            <a href="#" class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</a>
            <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</a>
            <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</a>
        </div>
    </div>

</aside>
