
{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Campagin' %}
{% set page_name = 'campaign' %}

{# Page Content #}
{% block body %}

    {% set campaign_data = [
        {
            campaign_name: 'The University of Notre Dame Australia (Parents) - Singapore',
            code: '1'
        },
        {
            campaign_name: 'Liam',
            code: '2'
        },
        {
            campaign_name: 'Gunther',
            code: '3'
        },
        {
            campaign_name: 'Liam 2',
            code: '4'
        }
    ] %}

    <section class="wrapper campaign">

        <section class="campaign-overview align-right">
            <button type="button" name="login-login" class="btn btn--primary btn--form btn--icon">
                Download
                <i class="btn__icon fas fa-long-arrow-alt-right"></i>
            </button>
        </section>

        <section class="campaign-main">

            <aside class="campaign-sidebar">

                <div class="campaign-toggle">
                    <div class="campaign-toggle__title">
                        <span>parents</span>
                    </div>
                    <div class="campaign-toggle__options">
                        <a href="#" class="campaign-toggle__option">Singapore</a>
                        <a href="#" class="campaign-toggle__option">Indonesia</a>
                        <a href="#" class="campaign-toggle__option">Malaysia</a>
                    </div>
                </div>

            </aside>


        </section>

    </section>

{% endblock %}
