
{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Campagin' %}
{% set page_name = 'campaign' %}

{# Page Content #}
{% block body %}

    {% set groups = post.get_field('groups') %}
    {% set questions = current_questions.get_field('question') %}
    {% set date_from = post.get_field('from_date') %}
    {% set date_to   = post.get_field('to_date') %}

    <section class="campaign wrapper" data-campaign="container">

        {# Download Report #}
        {% if(post.get_field('campaign_data')) %}
            <section class="campaign__section--desktop">
                {% include './components/campaign/download.twig' %}
            </section>
        {% endif %}

        <section class="campaign__content">

            {# Sidebar #}
            {% include './components/campaign/sidebar.twig' %}

            {# Overview #}
            {% include './components/campaign/overview.twig' %}

        </section>

    </section>

{% endblock %}
