
{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Campagin' %}
{% set page_name = 'campaign' %}

{# Page Content #}
{% block body %}

    <section class="wrapper campaign">

        <section class="campaign-overview">
            <button type="button" name="login-login" class="btn btn--primary btn--form btn--icon">
                Download
                <i class="btn__icon fas fa-long-arrow-alt-right"></i>
            </button>
        </section>

        <section class="campaign-main">

            <aside class="campaign-sidebar">

                <div class="campaign-group">
                    <div class="campaign-group__title">
                        <span>Parents</span>
                    </div>
                    <div class="campaign-group__options">
                        <a href="#" class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</a>
                        <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</a>
                        <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</a>
                    </div>
                </div>

                <div class="campaign-group">
                    <div class="campaign-group__title">
                        <span>Students</span>
                    </div>
                    <div class="campaign-group__options">
                        <a href="#" class="campaign-group__option campaign-group__option--active"><i class="fas fa-globe-europe"></i> Singapore</a>
                        <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Indonesia</a>
                        <a href="#" class="campaign-group__option"><i class="fas fa-globe-europe"></i> Malaysia</a>
                    </div>
                </div>

            </aside>

            <section class="campaign">
                <h3 class="campaign-subhead"></h3>
                <h1 class=></h1>
            </section>


        </section>

    </section>

{% endblock %}
