
{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Campagin' %}
{% set page_name = 'campaign' %}

{# Page Content #}
{% block body %}

    {% set questions = post.get_field('question') %}

    <section class="campaign wrapper" data-campaign="container">

        {# Download Report #}
        <section class="campaign__download">
            <button type="button" name="login-login" class="btn btn--tertiary btn--icon">
                Download Report
                <i class="btn__icon fas fa-long-arrow-alt-down"></i>
            </button>
        </section>

        <section class="campaign__content">

            {# Sidebar #}
            {% include './components/campaign/sidebar.twig' %}

            {% include './components/campaign/overview.twig' %}

        </section>

    </section>

{% endblock %}
