{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Campaign List' %}
{% set page_name = 'ADNA' %}
{% set header = true %}

{# Page Content #}
{% block body %}

    <section class="wrapper">

        <h1>Homepage</h1>

    </section>

{% endblock %}
