{% extends './layout.twig' %}

{# Page Variables #}
{% set page_title = 'ADNA - Login' %}
{% set page_name = 'ADNA' %}
{% set header = false %}

{# Page Content #}
{% block body %}

    <section class="login">

        <div class="login__inner">

            <a href="/" class="logo logo--centered"> {% include './components/logo.twig' %} </a>

            {{  function('wp_login_form', {
                'echo'           : true,
                'redirect'       : '/campaigns',
                'form_id'        : 'userlogin',
                'label_username' : __( 'Name' ),
                'label_password' : __( 'Password' ),
                'label_remember' : __( 'Remember Me' ),
                'label_log_in'   : __( 'Log In' ),
                'id_username'    : 'login-user',
                'id_password'    : 'login-pass',
                'id_remember'    : 'login-remember',
                'id_submit'      : 'wp-submit',
                'remember'       : false,
                'value_username' : NULL,
                'value_remember' : true
            })}}

        </div>


    </section>

{% endblock %}
