/**
 * Config / Palette
 *
 * Colour variable declarations. By right, all colours used should be declared
 * as a variable in line with the style guide of the project.
 */

/* Brand Colours */
$color-brand-primary: #130c26;
$color-brand-secondary: #2E155B;
$color-brand-tertiary: #f7f7f7;

$color-brand-red-dark: #d33759;
$color-brand-red-light: #e0615e;

$color-brand-blue-darkest: #2a124f;
$color-brand-blue-dark: #5032cf;
$color-brand-blue-light: #3a1a6b;
$color-brand-blue-lightest: #3a8bd3;

$color-brand-orange-dark: #e8624e;
$color-brand-orange-light: #e79c49;

/* Default */
$color-black: #000;
$color-white: #fff;
$color-white-off: #e8e8e8;

/* Greyscale */
$color-grey-blue: #9092b0;

$color-grey-darkest: #161010;
$color-grey-dark: #222;
$color-grey: #888;
$color-grey-light: #aaa;
$color-grey-lightest: #ccc;
