<section class="story story-two" data-story="two">

    <div class="grid">

        <div class="story-two__media grid__item 4/7">
            <video src="/videos/trailer.mp4" controls class="story-inline-video"></video>

            <div class="story__content story-two__content">
                <h3><strong>John</strong>: Tuk tuk Driver, Columbo</h3>
                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <div class="story-carousel__pips" data-story="carousel-pips"></div>
            </div>

        </div>

        <div class="story-two__media grid__item 3/7">
            <img src="/images/stories/story-two/image1.jpg" alt="Story Two Image One" />
        </div>

    </div>

</section>
