<section class="story story-three" data-story="three">

    <div class="grid">

        <div class="story-three__media grid__item 2/7">
            <img src="/images/stories/story-three/image1.jpg" alt="Story Three Image One" />
            <img src="/images/stories/story-three/image1.jpg" alt="Story Three Image One" />
        </div>

        <div class="story-three__media grid__item 5/7">

            <div class="story__content story-three__content">
                <h3><strong>David</strong>: Restaurant Owner, Columbo</h3>
                <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <div class="story-carousel__pips" data-story="carousel-pips"></div>
            </div>

            <video src="/videos/trailer.mp4" controls class="story-inline-video"></video>
        </div>

    </div>

</section>
