// Config
@import '../config/palette';
@import '../config/breakpoints';

// Utils
@import '../utils/functions/rem';

/**
 * Components / Button
 */

.btn {
    position: relative;
    display: inline-block;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
    background-size: 300% 300%;
    background-position: 0% 0%;
    min-width: 150px;
    width: auto;
    padding: 15px 30px;
    border-radius: 5px;
    color: $color-white;
    transition: background 1000ms ease;
    font-size: rem(16px);
    text-align: center;

    @media screen and (max-width: $breakpoint-tablet-landscape) {
        font-size: rem(12px);
        padding: 10px;
    }

    &:hover {
        background-position: 40% 40%;

        .btn__icon {
            transform: translateX(45%);
        }

    }

    &:focus {
        outline: none;
    }

}

.btn--primary {
    background-image: linear-gradient(to right, $color-brand-red-dark, $color-brand-red-light, $color-brand-red-dark);
}

.btn--secondary {
    background-image: linear-gradient(90deg, $color-brand-blue-dark, $color-brand-blue-lightest, $color-brand-blue-dark);
}

.btn--tertiary {
    background-image: linear-gradient(to right, $color-brand-orange-light, $color-brand-orange-dark);
}

.btn--form {

}

.btn__icon {
    transform: translateX(0%);
    position: relative;
    display: inline-block;
    margin-left: 20px;
    transition: transform 300ms ease;
}
