// Config
@import '../config/spacing';

// Helpers
@import '../helpers/classes/margin';

// Utils
@import '../utils/functions/rem';
@import '../utils/functions/tracking';
@import '../utils/mixins/aspect-ratio';

/**
 * Components / Campaign Question
 */
.campaign-question {
    margin-top: $spacing;
}

.campaign-question__insights {
    margin-top: $spacing-double;
}

.campaign-question__insight {
    padding: $spacing-half;
    border-radius: 5px;
    background-color: rgba($color-white, .1);
    color: $color-white;

    p {
        font-size: rem(14px);
        font-weight: 400;
    }
}

.campaign-question__chart {
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
}

.campaign-question__subcharts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: $spacing;
    font-size: rem(13px);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: tracking(150);
    text-align: right;
    width: 95%;
    margin-left: 5%;
}

.campaign-question__selected {
    width: 100%;
    @include aspect-ratio(1, 1);
    background-image: linear-gradient(140deg, $color-brand-blue-dark, $color-brand-blue-light);
    border-radius: 10px;

    &:first-of-type {
        margin-bottom: 10%;
    }

    @media screen and (max-width: $breakpoint-tablet-portrait) {
        width: 45%;

        &:first-of-type {
            margin-bottom: 0;
        }

    }

}

.campaign-question__selected--alt {
    background-image: linear-gradient(140deg, $color-brand-red-dark, $color-brand-red-light);
}

.campaign-question__subtitle {
    display: block;
    text-align: center;
    margin: $spacing auto 0;
}
