// Config
@import '../config/palette';
@import '../config/breakpoints';

// Utils
@import '../utils/functions/rem';
@import '../utils/functions/tracking';

/**
 * Components / Campaign
 */
.campaign {
    margin: $spacing-double auto;
    position: relative;
}

.campaign__download {
    display: block;
    width: 100%;
    margin-bottom: $spacing-double;
    text-align: right;
}

.campaign__content {
    display: flex;
    width: 100%;
}

.campaign__sidebar {
    display: block;
    width: 20%;
}

.campaign-group {}
