// Config
@import '../config/palette';
@import '../config/breakpoints';

// Utils
@import '../utils/functions/rem';
@import '../utils/functions/tracking';

/**
 * Components / Campaign
 */
.campaign {
    margin: $spacing-double auto;
    position: relative;
}

.campaign__download {
    display: block;
    width: 100%;
    margin-bottom: $spacing-double;
    text-align: right;
}

.campaign__content {
    display: flex;
    width: 100%;
}

.campaign__sidebar {
    display: block;
    width: 20%;
}

////
// Campaign Overview
////
.campaign__overview {
    width: 100%;
    overflow: auto;
    padding: 0 0 0 $spacing-double;
}

.campaign__header {
    margin: 0 0 $spacing 0;
    line-height: 1;
}

.campaign__subheader {
    margin: 0 0 $spacing-half 0;
    text-transform: uppercase;
    letter-spacing: tracking(100);
}

.campaign__section {
    margin-bottom: $spacing-double;
}

////
// Campaign Overview
////
.campaign__demographics {
    width: 100%;
    display: flex;
    overflow-x: auto;
    &::-webkit-scrollbar { width: 0 !important }
}

.campaign__demographic {
    align-content: center;
    min-width: 175px;
    flex-shrink: 0;
    margin-right: $spacing-half;
    background-color: $color-brand-secondary;
    text-align: center;
    padding: $spacing * .75;

    small {
        display: block;
        text-transform: uppercase;
        font-size: rem(12px);
        letter-spacing: tracking(100);
        font-weight: 700;
        margin-bottom: 5px;
    }

    span {
        display: block;
        font-weight: 500;
    }

}


////
// Campaign Questions
////
.campaign-questions {
    position: relative;
}

.campaign-questions__nav {
    display: flex;
    align-items: center;
}

.campaign-questions__nav--alt {
    display: block;
    text-align: right;
}

.campaign-questions__select--alt {
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
}

.campaign-questions__dropdown {
    padding: 0;
    display: inline-block;
    width: 90%;
}

.campaign-questions__arrows {
    display: flex;
    width: 175px;
    align-items: center;
    align-content: center;

    .campaign-questions__nav--alt & {
        display: inline-flex;
    }

}

.campaign-questions__arrow {
    width: 50%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(140deg, $color-brand-blue-dark, $color-brand-blue-lightest);
    border: transparent;
    color: $color-white;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;

    &.disabled {
        border: 1px solid rgba($color-white, .25);
        color: rgba($color-white, .25);
        background: transparent;
        cursor: default;
    }

    &:first-of-type {
        margin: 0 10px;
    }

    svg, i {
        margin: auto;
        display: block;
    }

}

.campaign-questions__container {
    position: relative;
    width: 100%;
}
