/**
 * Components / Campaign List
 */

.campaign-list {}

.campaign-list__code {
    width: 10%;
}

.campaign-list__name {
    width: 65%;
}

.campaign-list__actions {
    width: 15%;

    span {
        display: flex;
        justify-content: space-between;
    }

}

.campaign-list__action {
    align-content: space-around;
    align-self: center;
    font-size: rem(25px);
    transition: color 150ms ease;

    &:hover {
        color: rgba($color-brand-red-dark, 1);
    }

}
