// Config
@import '../config/spacing';

// Helpers
@import '../helpers/classes/margin';

// Utils
@import '../utils/functions/rem';

/**
 * Components / Campaign Question
 */
.campaign-question {

}

.campaign-question__insights {
    margin-top: $spacing-double;
}

.campaign-question__insight {
    padding: $spacing-half;
    border-radius: 5px;
    background-color: rgba($color-white, .1);
    color: $color-white;

    p {
        font-size: rem(14px);
        font-weight: 400;
    }
}

.campaign-question__chart {
    position: relative;
    width: 100%;
    height: auto;
    text-align: left;
}

.campaign-question__subcharts {
    padding-left: $spacing;
}
