// Config
@import '../config/palette';
@import '../config/breakpoints';
@import '../config/spacing';

// Utils
@import '../utils/functions/tracking';

/**
 * Components / Campaign Chart
 */
.campaign-chart {
    margin-top: $spacing;
    width: 100%;
    height: auto;

    @media screen and (max-width: $breakpoint-tablet-landscape) {
        width: 25%;
    }

}
