// Config
@import '../config/palette';
@import '../config/breakpoints';

/**
 * Components / Header
 *
 * Global Header
 */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.header__inner {
    width: 100%;
    padding: $spacing 0;
    margin: auto;
}


/**
 * Components / Nav
 *
 * Nav nested in header
 */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    align-content: space-around;
    align-self: center;
}
