@import '../config/spacing';

/**
 * Components / Table
 */

.table {
    width: 100%;
}

.table__items {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table__item {
    background-color: $color-brand-blue-darkest;
    padding: $spacing;

    &:nth-of-type(even) {
        background-color: $color-brand-blue-light;
    }

    td {
        font-size: rem(16px);
        font-weight: 500;
        padding: $spacing;
    }

}

.table-pagination {
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: $spacing-double auto;

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: $spacing-third $spacing-half;
    }

}

.table-pagination__arrow {
    margin: 0 $spacing-half;
}

.table-pagination__arrow--disabled {
    cursor: not-allowed;
    opacity: .25;
}

.table-pagination__pages {
    padding: 0;
}

.table-pagination__page {

    &:hover {
        text-decoration: underline;
    }

}

.table-pagination__page--active {
    border-radius: 7px;
    background-size: 200%;
    background-image: linear-gradient(to left, $color-brand-blue-light, $color-brand-blue-lightest);

    &:hover {
        background-image: linear-gradient(to left, $color-brand-blue-light, $color-brand-blue-lightest);
    }

}
